<div class="row">
  <div class="col-md-12">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-md-4">
        <h4><%= post.title %></h4>
        <%= image_tag post.photo.url(:large), class: "img-responsive img-thumbnail" %>
        <div class="the-tags">
          Tags: <span style="color: skyblue;"><%= post.tag_list.map{ |tag| link_to tag, tag_path(tag: tag) }.join(", ").html_safe %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @posts %>
