<br>
<div class="row">
  <div class="col-md-12">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-md-4">
        <%= image_tag post.photo.url(:large), class: "img-responsive img-thumbnail" %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @posts %>
